/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
 @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,900;1,400&family=Ubuntu:wght@400;500;700&display=swap");

html, body {
    font-family: 'Raleway', sans-serif;
}

.home .hero img
  max-width 360px!important
h2 {
    font-size: 1.4rem;
    font-family: 'Ubuntu', sans-serif;
    border-bottom: none
}
h3 {
    font-size: 1.15rem;
    font-family: 'Ubuntu', sans-serif;
}
h1 {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
}
h4 {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
}

.navbar .site-name {
  font-size: 1.15rem;
    font-family: 'Ubuntu', sans-serif;
  }
strong {
  font-weight: 900;
}
// .page p, .page table tr td, .page ul, .page ol, .page h1, .page h2,.page h3,.page h4,.page h5, .page h6,{
//     font-family: "Ubuntu";
// }